**TASK 1**


**Description**

● There are 2 datasets present in the file. Data 1 and Data 2

● The primary key for both data1 and data2 is Order Id + Product ID combination (i.e. the
individual datasets do not have any duplicate on this combination)
Provide solution and approach for the following:
1. How to identify the Records (Order ID + Product ID combination) present in data1 but
missing in data2 (Specify the number of records missing in your answer)
2. How to identify the Records (Order ID + Product ID combination) missing in data1 but
present in data2 (Specify the number of records missing in your answer)
3. Find the Sum of the total Qty of Records missing in data1 but present in data2
4. Find the total number of unique records (Order ID + Product ID combination) present in
the combined dataset of data1 and data2

**Importing libraries to fetching out the data from ``xlsx`` format**

In [2]:
import pandas as pd

In [8]:
data1 = pd.read_excel('Records Matching Task.xlsx')
data2 = pd.read_excel('Records Matching Task.xlsx',sheet_name='data2')

In [11]:
data1.head(2)

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3

In [12]:
data2.head(2)

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6

**Adding new ``column``as per question that is ``Records`` in both the data's**

In [13]:
data1['Records'] = data1['Order ID'] + data1['Product ID']

In [15]:
data2['Records'] = data2['Order ID'] + data2['Product ID']

In [58]:
print(data1['Records'].shape[0])
print(data2['Records'].shape[0])

9478
9479

**First Question ``Answer``**

In [84]:
# Two Methods To Do this Question

#FIRST WAY
check = ~ data1["Records"].isin(data2["Records"])
fetching1 = data1.loc[check, "Records"]

#SECOND WAY using ``a function`` that is set()

sec = set(data1["Records"]).difference(set(data2["Records"]))

#no. of records which is missing in data2 but present in data1
print("There are {} missing values ".format(fetching1.shape[0]))

There are 507 missing values

**Second Question ``Answer``**

In [85]:
# Again two alternatives 
#First

check = ~ data2['Records'].isin(data1['Records'])
fetching2 = data2.loc[check]
fetching2

#Second

sec = set(data2['Records']).difference(set(data1['Records']))

print("There are {} missing values ".format(fetching2.shape[0]))

There are 508 missing values

**Third Question ``Answer``**

In [87]:
fetching2['Qty'].sum()

1956

**Fourth Question ``Answer``**

In [92]:
append_f1_f2 = pd.concat([fetching1, fetching2])

#finding intersection of data 1 and data2
new_data = data1.merge(data2)

In [95]:
# and, appending dataframes 'new_data' and 'append_f1_f2' will gives the result
unq_df = pd.concat([new_data, append_f1_f2])
print("There are {} unique records we have ".format(unq_df.shape[0]))

There are 9986 unique records we have

**Till here done with ``1st Question`` or ``task``**